<p *ngIf="open">
  <mat-toolbar color="primary">
    <span><mat-icon>filter_drama</mat-icon> Connection2Connection</span>
  </mat-toolbar>
</p>
<nav mat-tab-nav-bar ngClass = "tabs" *ngIf="open">
  <a mat-tab-link routerLink="/Empresa" routerLinkActive="active-link">Empresa</a>
  <a mat-tab-link routerLink="/usuarios" routerLinkActive="active-link">Usuario</a>
  <a mat-tab-link routerLink="/requisitos" routerLinkActive="active-link">Requisito</a>
  <a mat-tab-link routerLink="/Calificacion" routerLinkActive="active-link">Calificacion</a>
  <a mat-tab-link routerLink="/Institucion" routerLinkActive="active-link">Institucion</a>
  <a mat-tab-link routerLink="/carreras" routerLinkActive="active-link">Carrera</a>
</nav>
<div>
 <router-outlet></router-outlet>
</div>
